__pycache__/
result.md
idea.md
exp/
!chatgpt/
datasets/*
dataloader/*
command.md
requirements_old.txt
1D-ARC/
ARC/
cbu/
data/list_functions/results/
finetune/tmp/
ckpt/
finetune/output/
deduction_arc.py
run_arc.py
scripts/